<div
  #modal
  class="modal fade"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  (click)="toggleModal()"
>
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> Посмотрите наши чайные коллекции</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer flex justify-content-center" >
        <a [routerLink]="'/products'" class="btn btn-primary" >Смотреть</a>
      </div>
    </div>
  </div>
</div>

